*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
    font-family: Roboto;
}

input{
    height: 60px;
    font: 1.1rem Roboto, sans-serif;
    font-weight: bold;
}

input:focus {
    outline: none;
}

button{
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    transition: background 0.2s;
}


.div-busca button:focus{
    outline:none;
}

button:hover{
    background-color: darkblue;
}